.header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: contain;
  background-position: center;
  height: 100vh;
  padding: 0 2rem;
  padding-bottom: 5rem;
}

.header__nav {
  padding: 20px;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
}

.header__nav img {
  height: 2rem;
}

.header__nav ul {
  align-items: center;
  width: 38%;
  font-family: "Barlow", Courier, monospace;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__nav ul li {
  color: var(--color-white);
}

.header__nav ul li:last-child {
  font-family: "Fraunces", Courier, monospace;
  color: var(--color-very-dark-desaturated-blue);
  background-color: var(--color-white);
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
}

.header__title {
  font-family: "Fraunces", Courier, monospace;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
}

.header__title h1 {
  font-weight: 900;
  margin: 3.5rem 0;
}
